In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data=pd.read_csv('train.csv')
data['TotArea']= data['GrLivArea'] + data['1stFlrSF'] + data['GarageArea'] + data['TotalBsmtSF']

saleprice= data['SalePrice']
data = data.drop(['SalePrice'],axis=1)
data['saleprice']= saleprice
data

,OverallQual,GrLivArea,GarageCars,GarageArea,TotalBsmtSF,1stFlrSF,FullBath,TotRmsAbvGrd,YearBuilt,YearRemodAdd,TotArea,saleprice
0,7,1820,1,240,1026,1133,2,8,1925,1950,4219,184000
1,7,1646,1,240,918,918,2,7,1941,1950,3722,164000
2,5,1316,2,484,926,926,1,6,1929,2001,3652,130000
3,10,2402,3,672,3094,2402,2,10,2008,2008,8570,555000
4,7,1253,2,402,1237,1253,2,6,1995,1996,4145,176000
...,...,...,...,...,...,...,...,...,...,...,...,...
1163,6,1400,2,440,672,672,1,6,1978,1978,3184,149500
1164,7,1472,2,402,384,802,2,7,1991,1992,3060,160000
1165,5,789,1,250,789,789,1,5,1948,1950,2617,115000
1166,6,1661,1,377,992,1661,1,8,1955,1996,4691,165500
1167,7,1442,2,500,1424,1442,2,5,1990,1990,4808,180500

In [2]:
X = data.iloc[:,10]
Y = data.iloc[:,11]

x_train= np.array(X)
y_train= np.array(Y)

In [5]:
def compute_gradient(X,y,w,b):
    m,n = X.shape
    dj_dw = np.zeros((n,))
    dj_db = 0.

    for i in range (m):
     err = (np.dot(X[i],w)+b)-y[i]
     for j in range(n):
        dj_dw[j]=dj_dw[j] + err * X[i,j]
     dj_db = dj_db +err  
    dj_dw = dj_dw/m
    dj_db = dj_db/m

    return dj_db,dj_dw